<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: calc(100vh - 40px);'></div>
</div>
<%= react_component("MapSideBar", prerender: false) %>


<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    home = handler.addMarkers([
      {
        "lat": "<%= @user_location&.latitude %>",
        "lng": "<%= @user_location&.longitude %>",
        "picture": {
          "url": "<%= image_url("bluehome.png") %>",
          "width":  32,
          "height": 32
        },
        "infowindow": "hello!"
      }
    ]);
    litterMarkers = handler.addMarkers([
      <% @litters.each do |litter| %>
        {
          lat: "<%=litter.location&.latitude %>",
          lng: "<%=litter.location&.longitude %>",
          "picture": {
            "url": "<%= image_url("pinky.png") %>",
            "width":  28,
            "height": 28
          },
          infowindow: "hello!"
        },
      <% end %>
    ]);
    // handler.bounds.extendWith(home);
    // handler.fitMapToBounds();
    handler.getMap().setZoom(12);
    handler.map.centerOn({ lat: 49.2700, lng: -123.110000 });
  });
</script>
