<div class="container-fluid">

	<div class="leaf_image_div col-xs-12">
		<%= image_tag("free_pics/green_leafs") %>
	  <div style="background-color:rgba(0, 51, 0, 0.7);" class="details col-xs-offset-3 col-xs-6">
			<h1> Clean Up Event </h1>
			<br>
			<h4> <%= @event.planned_date %> at <%= @event.planned_time.to_time.utc.strftime("%H:%M") %> </h4>
			<br>
			<h4> 2250 Woolwich Ave </h4>
			<h4> Burnaby, BC V5B 4E2 </h4> <%# @event.location.address %>
  	</div>
		<div class="three_circles col-xs-offset-2 col-xs-8">
			<div class="joined_circle col-xs-2">
				<h5>PEOPLE JOINED </h5> <%= @event.users.count %>
			</div>
      <%=form_tag event_path do %>
        <div class="join-btn col-xs-2">
          <% if @user_event.present? %>
            <h5> <%= link_to "Cancel Event", event_user_event_path(@event, @user_event), method: :delete %> </h5>
          <% else %>
            <h5> <%= link_to "Join this Event", event_user_events_path(@event), method: :post %> </h5>
          <% end %>
        </div>
      <% end %>
			<div class="litter_items_circle col-xs-2">
				<h5>LITTER ITEMS </h5> 24
			</div>
		</div>
	</div>

	<div class="summary">
		<h3 class="col-xs-12 col-sm-offset-2 col-sm-8"> ABOUT THIS EVENT </h3>
		<div class="summary_left col-xs-12 col-sm-offset-2 col-sm-4">
			<br>
			<h4> EVENT: Woolwich Ave Park Clean Up !</h4>
			<h4> DATE: <%= @event.planned_date %> </h4>
			<h4> TIME: <%= @event.planned_time.to_time.utc.strftime("%H:%M") %></h4>
			<h4> LOCATION: 2250 Woolwich Ave, Burnaby, BC V5B 4E2 </h4> <%# @event.location.address %>
			<br>
			<h4> Number of reported litter in the area: 24 </h4>
			<h4>People joined so far: <%= @event.users.count %> </h4>
		</div>
		<div class="summary_right col-xs-12 col-sm-4">
			<br>
			<h4> Organizer of this event: <span style="font-weight:bold"> <%= @event.organizers.first.user.full_name %> </span> </h4>
			<h5> Email organizer: <%= @event.organizers.first.user.email %> </h5>
			<br>
			<h4> Notes from the organizer:</h4>
			<p id="notes"> Hey everyone ! I found quite some litter in this area and I would love to make this park green again. I found materials that can be a hazard for animals and small children, plus it doesn't look very appealing right now. It would be great if you would like to join me this Saturday to clean it all up in approximately 1 hour. Hope to see you all then! Greetings, Inge </p>
		</div>
	</div>

	<div id="carousel" class="col-xs-12 col-sm-offset-2 col-sm-4">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag('/uploads/litter/image/124/20170529_194751.jpg', :class => "img-responsive carousel1")%>
					</div>

				<div class="item">
					<%= image_tag('/uploads/litter/image/125/20170425_190321.jpg', :class => "img-responsive carousel1")%>
				</div>

				<div class="item">
					<%= image_tag('/uploads/litter/image/118/20170425_190338.jpg', :class => "img-responsive carousel1")%>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div id="map" class='event-map col-xs-12 col-sm-4'></div>
		<script>
			var trash = {'lat': 49.263921, 'lng': -122.971534};

			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
				marker = handler.addMarkers([
					trash
				]);
				handler.getMap().setZoom(17);
				handler.map.centerOn(trash);
			});
		</script>
</div>
